@import "tailwindcss";

*::before, *::after {
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}



p {
  letter-spacing: -0.04em;
  font-family: 'Inter', sans-serif;
  /* in case it does not work 
  font-size: 1rem;
  */
}

.swiper-pagination {
  position: relative !important;
}




