@import "tailwindcss";

*::before, *::after {
    box-sizing: border-box;
}

* {
  letter-spacing: -0.04em;
  font-family: 'Inter', sans-serif;
  /* in case it does not work 
  font-size: 1rem;
  */
}

.swiper-pagination {
  position: relative !important;
}

@keyframes scroll-right {
  0% {transform: translate(100vw);}
  100% {transform: translate(-100vw);}
}

@keyframes scroll-left {
  0% {transform: translate(-100vw);}
  100% {transform: translate(100vw);}
}

.member-slider.animate .member {
  animation-play-state: running;
}

.member-slider.ab .member {
  animation: scroll-left 7s linear infinite paused;
}
.member-slider.eb .member {
  animation: scroll-left 6s linear infinite paused;
}
.member-slider.sb .member {
    animation: scroll-right 5.5s linear infinite paused;
}


.section3-bg {
    background-image: url(/assets/ucm-building.png); 
    background-size: 100vw;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

